.row.food-plan
	.col-md-7
		h1.food-plan__caption.text-uppercase YOUR DAILY Food PLAN
		span.food-plan__description.food-plan__description_bold Breakfast Time Folks!
		span.food-plan__description.food-plan__description_thin  Choose Your Breakfast Food Below
	button.food-plan__button.btn.btn-default(type="submit")
		img.food-plan__button-img(src="../images/IconBox.png")
		span.food-plan__button-span.text-uppercase Custom Food Box