extends includes/base
block header
	include header/index
block main
	//- .col-md-6(style="background: red;")
	//- 	h1 xuy
	//- .col-md-3(style="background: blue;")
	//- 	h2 another xuy
	//- .col-md-3(style="background: green;")
	//- 	h2 other xuy